<!DOCTYPE html> 
<html lang="en">
    <%-  include('../partials/head.ejs', { css_files: ["profile"] })%>

<!--     <link href="/css/login.css" rel ="stylesheet">
 --></head>

<body>

    <%- include('../partials/header.ejs') %>

   <main>
    <section class="section_profile_user flex-col">

        <div class="profileUser">
            <h2 class="title"> Bienvenidx  <span><%= user.name %></span>  </h2>
            <img src="/users/<%= user.avatar %>" alt="" class="img_profile">
            <p> Su mail es: <%= user.email %> </p>
        </div>

        <div class="buttons-container flex-col">

        <div class="edit_button btn-container">
            <a href="/user/edit">
                <button class="btn btn_edit">
                    EDITAR USUARIO
                </button type="button">
            </a>
        </div>
    
        <div class="delete_button btn-container">
            <form action="/user/delete?_method=delete" method="post">
                <button class="btn btn_delete">
                    ELIMINAR MI CUENTA
                </button type="submit">
            </form>
        </div>
    
        <div clasS="favorites_button btn-container">
            <a href="/user/favorites/<%=user.iduser%>">
                <button class="btn btn_favorite">
                    VER MIS FAVORITOS
                </button>
            </a>
        </div>

        <% if( locals.userLogged && (locals.userLogged.is_admin == 0) ){ %>

            <div class="favorites_button btn-container">
                <a href="/products/crear">
                    <button class="btn btn_create">
                        CREAR NUEVO PRODUCTO
                    </button>
                </a>
            </div>

        <% } %>
        </div>

    </section>

   
    
   </main>

    <%-  include('../partials/footer.ejs')   %>


</body>
</html>