<!DOCTYPE html> 
<html lang="en">
    <%-  include('../partials/head.ejs', { css_files: ["profile"] })%>

<!--     <link href="/css/login.css" rel ="stylesheet">
 --></head>

<body>

    <%- include('../partials/header.ejs') %>

   <main>
    <section class="section_profile_user">
        <div class="profileUser">
            <h2> Bienvenidx <%= user.name %> </h2>
            <img src="/users/<%= user.avatar %>" alt="" class="img_profile">
            <p> Su mail es: <%= user.email %> </p>
        </div>

        
    </section>

    <div class="buttons">
        <div class="edit_button">
            <a href="/user/edit">
                <button>
                    EDITAR USUARIO
                </button type="button">
            </a>
        </div>
    
        <div class="delete_button">
            <form action="/user/delete?_method=delete" method="post">
                <button>
                    ELIMINAR USUARIO
                </button type="submit">
            </form>
        </div>
    
        <div clasS="favorites_button">
            <a href="/user/favorites/<%=user.iduser%>">
                <button>
                    VER FAVORITOS
                </button>
            </a>
        </div>
    </div>
    
   </main>

    <%-  include('../partials/footer.ejs')   %>


</body>
</html>