<!DOCTYPE html>
<html lang="en">

<%-  include('../partials/head.ejs', { css_files: ["home"] })%>


<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <!-- <section>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/image/accesorio2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/image/accesorio3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/image/accesorio1.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section> -->
        <section class="section-productos flex-col">
            <h3> TODOS LOS PRODUCTOS  </h3>
            <div class="container-productos flex-col cards-container "> 

                <%  products.forEach((p)=>{ %>

                <article class="producto card">
                    <a href="/products/<%= p.idProduct %>" class="enlace">
                         <!-- <div class="card2"> --> 
                            <img src="/products/<%= p.imageProduct.image_route %>" alt="" class="img-product">
                            <div class="main-art-prducto">
                                <p><strong class="producto-precio">$<%= p.price %></strong></p>
                                <p class="producto-nombre"><strong><%= p.name %></strong></p>
                            </div>
                         <!-- </div>  -->
                    </a>
                </article>

                <%  }) %>


             </div> 
        </section>
    </main>
    <%-  include('../partials/footer.ejs')   %>

   <!--  <script src="/boostrap/bootstrap.bundle.min.js"></script> -->


</body>
</html>