<!DOCTYPE html>
<html lang="en">


<%-  include('../partials/head.ejs', { css_files: ["productDetail"] })%>
    
<!--     <link href="/css/productDetail.css" rel ="stylesheet">
 -->
</head>


<body>

    <%- include('../partials/header.ejs') %>

 <main class="main_detailProduct flex-col">

    <div class="provisorio">
        
        
   
    <section class="img_detailProduct">
        <img src="/products/<%= elegido.imagen %>"  alt="">
    </section>

    <section class="detailProduct_other_images">
   <% elegido.imagenes.forEach((i)=>{  %>
      
        <div class="small_img">
            <img src="/products/<%= i.filename %>" alt="">
        </div>
    <% }) %> 
    
<!--       <div class="small_img">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
        </div>
        <div class="small_img">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
        </div>
        <div class="small_img">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
        </div>  -->
    </section>

</div>


    <div class="provisorio2">
    <section class="container_price">
        <div class="content_price">
            <p><%= elegido.nombre %></p>
            <p><%= elegido.precio %></p>
            <p>⭐⭐⭐⭐⭐</p>
            <p>Opiniones</p>
        </div>
    </section>

    <section class="container_talles">
        <p>TALLES</p>
        <div class="talles">
            <button>XS</button>
            <button>S</button>
            <button>M</button>
            <button>L</button>
            <button>XL</button>
        </div>
    </section>

    <section class="container_comprar">
        <div class="contador">
            <button class="cesta">+</button>
            <p> 1 </p>
            <button class="cesta">-</button>
        </div>
        <button class="btn_comprar"> COMPRAR 🛒</button>
    </section>

</div>

    <div class="desc_btns flex-col">
        <section class="description_productDetail flex-col">
            <h4><%= elegido.nombre %></h4>
            <p> <%= elegido.descripcion %> </p>
        </section>

        <form action="/products/<%= elegido.id %>?_method=DELETE" method="post" class="form_btns">
            <a href="/products/<%= elegido.id %>/editar" class="btn_editar">EDITAR PRODUCTO</a>
            <button type="submit" class="btn_eliminar"> ELIMINAR PRODUCTO </button>
        </form>
     </div>
 </main>

 <%-  include('../partials/footer.ejs')   %>

</body>
</html>